@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


/*MENU */

.barra > nav {
  background-color: #202020; 
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: fadeIn2 .3s linear;
  border-bottom:2px solid #000; 
}



@keyframes fadeIn2 {
  from {
      transform: translateY(-100%);
  }
 
}




nav a {
  text-decoration: none;
 
}



.link {
  border-radius: 5px;
  padding: 17px;
  font-family: 'Arial';
  font-size: 11pt;
  transition: all .1s linear;
  color: azure;
  border-radius: 1px;
  margin-left: 25px;
  margin-right: 16px;
  
  
}


.link:hover{
  background-color: #F26100;
  padding: -10px -10px;
  margin-bottom: 5px;
  margin-top: 4px;
  border-radius: 5px;
  
}

.link:active {
  background-color: #611903!important;
}


.flexsocial {
  margin-left: 85vmax;
  width: 100px;
}



.flexsocial , .flex {
  padding: 20px;
  margin-top: -42px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  

  
  
}

.flexsocial  a:hover {
  transform: scale(1.1);
  transition: all .4s ease;
  transition-delay: 1ms;
  
}

a img {
  background-color: #829990;
  animation: fadeIn3 1s ease;
  border-radius: 50%;
}

@keyframes fadeIn3 {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


a img:hover {
  background-color: #F26100;
  border-radius: 50%;
  transition: all .1s ease;
  
  
}

a img:active {
  background-color: #833b25!important;
}






/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #050505;
}



img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h1 {
  text-align: center;
  margin: 80px 0;
  font-size: 4rem;
  color: #FFF;
}

h1::before {
  content: 'BURGVERSUS';
  display: block;
  font-size: 1rem;
  color: #FF0000;
  letter-spacing: 5px;
}


#burguers-section {
  display: grid;
  flex-wrap: wrap;
  margin: 40px 0;
  grid-template-columns: repeat(3, 276px);
  justify-content: center;
  flex-wrap: wrap;
  gap: 39px 43px;
}

.burguer {
  display: grid;
  gap: 15px;
  justify-items: center;
  padding: 30px;
  width: 276px;
  background-color: #F57C2C;
  border-radius: 10px;
  /* box-shadow: 10px 5px 5px rgb(205, 162, 112); */
  transition: 0.5s transform ease;
}

.burguer:hover {
  transform: scale(1.01);
}

.burguer h2 {
  color: #FF0000;
}

.burguer-img {
  width: 200px;
  height: 206px;
}

.buy-section>div {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 50px;
  border-radius: 10px 10px 50px 10px;
  background: #FF0000;
}

i {
  color: #fff;
  margin-left: 10px;
}

.burguer p {
  color: #FFF;
  font-weight: 600;
  text-align: center;
}

.buy-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buy-section span {
  border: 2px solid #FF0000;
  /* font-weight: bolder; */
  border-radius: 10px;
  font-size: 1.1rem;
  color: #FF0000;
  background: none #fff;
  padding: 10px;
}

.adicionais{
  color:#fff;
  grid-column: 1/-1;
  text-align: center;
  font-size: 40px;
  font-weight: 600;

}
/* carrinho*/

.burguer-cart {
  display: flex;
  padding: 11px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #050505;
}

.subtotal {
  font-weight: 600;
}

.cart-subtotal{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.subtotal-price{
  color: #FF0000;
  font-weight: 600;
}

.width {
  width: 245px !important;
}
aside {
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: #fff;
  transition: 0.5s width ease;
}

.carrinho {
  display: flex;
  background: #F57C2C;
}

.btn-close {
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  height: 100%;
  align-self: center;
  color: #fff;
}

.car{
  flex: 2;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px 0;
  color: #fff;
  background-color: #F57C2C;
  font-weight: 700;
}
/*botão*/

#btn-fim{
  width: 210px;
  margin-left: 15px;
  height: 40px;
  font-weight: 600;
  background-color: #FF0000;
  color: #fff;
  border-color: #FF0000;
  border-radius: 5px;
}
/* .buy-section span:hover {
  background: #FF0000;
  color: #fff;
} */

/*MEDIA QuerY*/
@media (max-width: 900px){
  aside {
    height: auto;
  }

  .cart-area {
    display: grid;
  }

  #burguers-section {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cart {
    max-height: 174px;
    overflow-y: scroll;
  }

  #btn-fim {
    width: auto;
    margin: 0;
    border-radius: 0;
  }
}