* {
    padding: 0;
    margin: 0;

}





@font-face {
    font-family:'Carton';
    src: url(Fonte\ personalizada/cartoonist_kooky.ttf) format('TrueType');
    font-weight: normal;
    font-style: normal;

}
 /* CABECALHO*/

header {
    width: 100% auto;
    height: 130px;
    
}
.t1 {
    margin-top: -35px;
}

.t1 .thanos {
    margin: -88px -29px -10px -35px;
    animation: fadeIn 1s cubic-bezier(0.895, 0.03, 0.550, 0.22)
}
.span1 {
    margin: 10px 51px 10px 70px;
}

@keyframes fadeIn {
    from {
        transform: translatey(-90%);
        opacity: 0;
    }
  to {
    opacity: 1;
}
}
h1 {
    font-family: 'Bungee Spice', cursive;
    letter-spacing: 1px;
    color: rgb(189, 167, 152);
    text-shadow: 4px 2px 3px black;
    font-size: 3.9em;
    
}


/*RESPONSIVIDADE CABECALHO*/

@media screen and (max-width: 860px)
{
    h1 { 

        transition: all .5s ease-out;
        transform: translateX(-30%);
    }
    .t1 {
        opacity: 0;
        transform: translateY(-200%);
    
    }
}
@media screen and (max-width: 522px)
{
    .t1 {
        animation: fadeIn .5s ease;
        opacity: 1;
        width: 180%;
    }
}
@media screen and (max-width: 455px){
    .t1 {
        animation: fadeOut .3s linear;
        opacity: 0;
        
    }
  
}

@media screen and (max-width: 800px){
    h3 {
        transform: translate(40%, -80%);
        font-size: 15px;
    }

     .flexsocial {
        transform: translate(-200%, 150%);
    }
}

/*REPONSIVIDADE CABECALHO FIM*/







.span1 {
    animation: text .9s cubic-bezier(0.175, 0.885, 0.20, 1.350);

}

@keyframes text {
    from {
        
        margin-right: 50%;
        
    }
    
}

header > h3 {
    color: rgb(180, 179, 179);
    font-family: 'Carton', cursive;
    text-shadow: 4px 2px 3px black;
    margin-top: 30px;
    margin-left: 72px;
}
    
    
    

h1, h3 {
   padding: 20px;
   margin: auto;
   
}



header  {
    background-image: linear-gradient(48deg, #190a00b0,#f57c2cce,#f26100c5,#5c3921d0,#F26100 );
    background-size: 300% 300%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    text-align: center;
    padding: 80px;
    margin-top: -70px;
    max-width: 100%;   
    height: 120px;
    animation:infinite alternate colors 10s ease;
    
}

@keyframes colors {
    from {
    background-position: 0% 50%;

    }
    to {
    background-position: 100% 0%;
    }
   
}

/*MENU-NAV*/




.barra > nav {
    background-color: #202020; 
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    animation: fadeIn2 1s linear;
    border-bottom:2px solid #000; 
}



@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




nav a {
    text-decoration: none;
   
}



.link {
    border-radius: 5px;
    padding: 17px;
    font-family: 'Arial';
    font-size: 11pt;
    transition: all .1s linear;
    color: azure;
    margin-left: 25px;
    margin-right: 16px;
    
    
}


.link:hover{
    background-color: #F26100;
    padding: -10px -10px;
    margin-bottom: 5px;
    margin-top: 4px;
    border-radius: 5px;
    
}

.link:active {
    background-color: #611903!important;
}


.flexsocial {
    margin-left: 85vmax;
    width: 100px;
}



.flexsocial , .flex {
    padding: 20px;
    margin-top: -42px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
  
    
    
}

.flexsocial  a:hover {
    transform: scale(1.1);
    transition: all .4s ease;
    transition-delay: 1ms;
    
}

a img {
    background-color: #829990;
    animation: fadeIn3 1s ease;
    border-radius: 50%;
}

@keyframes fadeIn3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


a img:hover {
    background-color: #F26100;
    border-radius: 50%;
    transition: all .1s ease;
    
    
}

a img:active {
    background-color: #833b25!important;
}



/*CORPO HOME*/


 body {
    background-image: url(Imagens/6113569.jpg);
    background-repeat: no-repeat;
    
}

p  {
    color: rgb(192, 192, 192);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.692);
    

    
}

.homeimg, p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    color: aliceblue;

    
}

.homeimg > img {
   border-radius:  5px 0px 0px 5px; 
   width: 100%;
   display: block;
   margin: auto;
    
}

p{
    text-align: left;
    border-radius: 0px 5px 5px 0px;
    background-color: #2c2c2cde;
    width: 500px;
    padding: 25px 5px 15px 30px;
    margin-top: 0;
}




div > main > {
    margin-left: 800px;
    margin-right: 100px;
    margin-top: 50px;
    min-width: 300px;
    max-width: 1000px;
    
}

.logo {
    border-radius: 50%;
    margin-top: 320px;
    
    
    
}


/***FORMULARIO****/

input, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 3px;

}

.campo label{
    margin-bottom: 0.2em;
    display: block ;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 2em;
}

.campo input[type="text"], .campo input[type="tel"],.campo input[type="email"]{
    padding: 0.5em;
    border: 1px solid;
    height: 40px;
    width: 300px;
    font-size: medium;
}

.campo textarea{
    padding: 0.5em;
    border: 1px solid;
    height: 60px;
    width: 300px;
    font-size: large;
}

form {
    text-align:center;
    display: block;
  }

.Conteiner{
    border: solid 3px #190a00;
    margin: 100px 300px 200px 650px;
    padding: 3px;
    background-color: #f26100;
    
}

button{
    color: #F26100;
    background-color: #190a00;
    font-size: x-large;
    height: 40px;
    width: 300px;
}

button:hover{
    background-color: #5c3921;
    color: #f26100;
    transition: 0.5s;
}

.contato {
    background-image: linear-gradient(to bottom, #f26100,#381803);
}



/*RODAPÉ*/

/*CSS Document*/


body, html{
position: relative;
overflow-x: hidden;   

}
.footer-container{
    margin-top: 100px;
    bottom: 20;
    background-image: linear-gradient(#1d1d1d,#141313,#000000 );
    width: 100%;
    text-align: left;
    text-indent: 30;
    padding: 0px;    

}

.footer-container .footer-content-1,
.footer-container .footer-content-2,
.footer-container .footer-content-3{
display: inline-block;
vertical-align: top;
margin: auto;
max-width: 1000px;
min-width: 320px;
}
/* Footer left */
.footer-container .footer-content-1{
width: 35%;
}
/*  logo */
.footer-container .footer-content-1 img{
width: 25%;
border-radius: 20px;
}


.footer-content-1 p, a {
    background: none;
    
}

.footer-content-2 p, a {
    background: none;
    color: white;
    
}




.footer-container .footer-p a{
display: inline-block;
text-decoration: none;
margin: 0px 8px 0px 0px;
padding-left: 3px;
border-left: 2px solid rgb(43, 40, 40);
}
.footer-container .footer-p a:hover{
text-shadow: 0 0 10px #ccc,
0 0 20px rgb(36, 32, 32);
}
/* Footer content-2 */
.footer-container .footer-content-2{
width: 31%;
font-size: 14px;
padding: 10px;
color: white;

}

.footer-container .footer-content-2 p{
display: inline;
line-height: 30px;
padding: 10px;
margin-top: -5px;
width: 20%;




}
.footer-container .footer-content-2 p a{
    color: white;
text-decoration: none;
}


/* Footer content-3 */
.footer-container .footer-content-3{
width: 30%;
margin-left: -5px;
}
.footer-container .footer-empresa{
line-height: 22px;
color:  #829990;
font-size: 14px;
font-weight: 200;
}

p , .Ltda {
   background: none;
   
}

p , .Ltda {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-style: normal;
}



.footer-container .footer-empresa, .Pag {
display: block;
color: white;
font-size: 20px;
font-style: normal;
font-weight: bold;
margin-bottom: 10px;
background: none;
}
.footer-container .footer-icons .fa{
background: #fff;
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
border-radius: 50%;
color: #829990;
text-align: center;
padding: 0px;
margin: 5px 5px 12px 12px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
font-size: 24px;

}



.footer-container .footer-content-3 p{
    color: white;
    font-size: 12px;
    padding: 9px;
    padding: 9px;
   }
.footer-container .copyright{
width: 100%;
}
.footer-container .copyright p{
color:#829990;
padding: 5px;
font-size: 12px;
}

.copyright div {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
   
}

/*footer responsivo*/
@media (max-width: 800px) {
footer { position: static;}
.footer-container{padding: 10px;}
.footer-container .footer-content-1,
.footer-container .footer-content-2,
.footer-container .footer-content-3{
display: block;
width: 100%;
text-align: center;
}
.footer-container .footer-content-2 i{
margin-left: 10;
}
.footer-container h3{
font-size: 20px;
}
hr{
margin:0 auto 0;
width: 70%;
}
}





 