* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family:'Carton';
    src: url(Fonte\ personalizada/cartoonist_kooky.ttf) format('TrueType');
    font-weight: normal;
    font-style: normal;

}
 /* CABECALHO*/
header > h1 {
    font-family: 'Bungee Spice', cursive;
    letter-spacing: 1px;
    color: rgb(189, 167, 152);
    text-shadow: 4px 2px 3px black;
    font-size: 3.9em;
    margin: auto;
}




header > h3 {
    color: rgb(180, 179, 179);
    font-family: 'Carton', cursive;
    text-shadow: 4px 2px 3px black;
    margin-bottom: -60px;
    
    
}
h1, h3 {
   padding: 30px;
}

header  {
    background-image: linear-gradient(48deg, #190a008e,#f57c2cce,#f26100c5,#5c3921a9,#F26100 );
    background-size: 300% 150%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    text-align: center;
    padding: 80px;
    margin-top: -70px;
    max-width: 100%;
    animation:infinite colors 15s ease;
    
}

@keyframes colors {
    0% {
    background-position: 0% 50%;

    }
    50% {
    background-position: 100% 50%;
    }
    100%{
    background-position: 0% 50%;

    }
}

/*MENU-NAV*/
#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    margin-top: -250px;
}

.barra {
    background-color: #202020;
    height: 100%;
    width: 200px;
    margin-top: -285px;
    position: absolute;
    transition: all .2s linear;
    left: -200px;
}

nav {
    width: 100%;
    position: absolute;
    top: 100px;
}

nav a {
    text-decoration: none;
}



.link {
    background-color: rgb(13, 15, 15);
    padding: 20px;
    font-family: 'Arial';
    font-size: 11pt;
    transition: all .2s linear;
    color: azure;
    border-bottom: 2px solid black;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #F26100;
}

#check:checked ~ .barra {
    transform: translateX(200px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
}

.divisor {
    margin-top: 220px;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    line-height: 70px;
    border-bottom: 3px double #000000;
    border-top: 3px double #000000;
}

.social {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}


.divisor > a:hover {
    transform: scale(1.4);
    transition: all .1s linear;
}

a img:hover {
    background-color: #F26100;
    border-radius: 50%;
}



/*CORPO HOME*/


body {
    background-image: url(Imagens/6113569.jpg);
    background-repeat: no-repeat;
    
}



div > main {
    background-color:#ac5216e0;
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    margin: auto auto auto auto;
    margin-top: 20px;
    border: 1px solid #000000;
}