* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: ;
    src: url();
}



header  {
    background-image: linear-gradient(48deg, #190a008e,#f57c2cce,#f26100c5,#5c3921a9,#F26100 );
    background-size: 300% 150%;
    text-align: center;
    padding: 100px;
    margin-top: -20px;
    max-width: 100%;
    border-bottom:20px double  #313131;
    animation:infinite colors 15s ease;
    
}

@keyframes colors {
    0% {
    background-position: 0% 50%;

    }
    50% {
    background-position: 100% 50%;
    }
    100%{
    background-position: 0% 50%;

    }
}


#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    margin-top: -300px;
}

.barra {
    background-color: #202020;
    height: 100%;
    width: 200px;
    margin-top: -300px;
    position: absolute;
    transition: all .2s linear;
    left: -200px;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    background-color: rgb(13, 15, 15);
    padding: 20px;
    font-family: 'Arial';
    font-size: 11pt;
    transition: all .2s linear;
    color: azure;
    border-bottom: 2px solid black;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #F26100;
}

#check:checked ~ .barra {
    transform: translateX(200px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
}

.divisor {
    margin-top: 150px;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    line-height: 60px;
    border-bottom: 3px double #000000;
    border-top: 3px double #000000;
}

.social {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

body {
    background-image: url(Imagens/vista-lateral-duplo-cheeseburger-com-rissois-de-carne-grelhada-queijo-e-folha-de-alface-entre-bolos-de-hamburguer_141793-4883.jpg  );
}